body {
  background-color: lavender;
  border: 1px solid black;
  font-family: fantasy;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

header {
  line-height: 60px;
  background-color: cornflowerblue;
}

nav {
  line-height: 50px;
  background-color: khaki;
}

aside {
  line-height: 90px;
  background-color: goldenrod;
}

article {
  line-height: 180px;
  background-color: lightsteelblue;
}

section {
  line-height: 90px;
  background-color: darkseagreen;
}

.totheright {
  float: right;
}

footer {
  background-color: lemonchiffon;
  line-height: 40px;
}
